<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi there! <%= @recipient.gem %> has been updated on <a href="rubygems.org">Ruby Gems</a>.
    </p>
    <p>I'd be sad to see you go, but click here to unsubscribe</p>
  </body>
</html>
