<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You've signed up to receive emails from me when <%= @recipient.gem %>
      is updated on <a href="rubygems.org">Ruby Gems</a>
    </p>
    <p>I'd be sad to see you go, but click here to unsubscribe</p>
  </body>
</html>
